@use '../utilities/' as *;
.main{
    display : flex;
    height: 100vh;
    
    
  }
  @include breakPointsDownUntil('medium'){
    .main{
      flex-direction: column;
      }
      .section--left{
        margin-bottom: 1em;
      }
      .container--left{
        justify-content: space-around;
      }
  }
  
  
  
  